.container {
  width: 650px;
  height: 450px;

  padding-bottom: 15px;

  display: flex;
  flex-direction: column;

  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: #ddd 0px 0px 10px 2px;
  padding: 3px;
  margin: 15px;
}


.timeselectors-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50px;
}

.timeselectors-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding-left: 50px;

  height: 100%;
  width: 100%;
}

.timeselectors-buttons div {
  width: 100px;
  height: 30px;
  margin-left: -1px;
}

.timeselectors-buttons div:first-child {
  margin-left: 0;
  border-radius: 4px 0px 0px 4px;
}

.timeselectors-buttons div:last-child {
  border-radius: 0px 4px 4px 0px;
}

.content-container {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 650px;
}


.graph-container {
  display: flex;
  width: 480px;
  margin-left: 10px;
  margin-right: 7px;
  margin-bottom: 10px;

  background-color: #eee;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.filters-container {
  width: 150px;
  height: 375px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters div {
  width: 140px;
  height: 30px;
  text-transform: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
}

.filters div:first-child {
  margin-top: 0px;
  border-radius: 4px 4px 0px 0px;
}

.filters div:last-child {
  border-radius: 0px 0px 4px 4px;
}

.value-toggle {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.value-toggle div {
  width: 100px;
  height: 20px;

  margin-left: auto;
  margin-right: auto;

  font-size: 11px;
  text-transform: uppercase;
}